* {
	display: flexbox;
	scroll-behavior: smooth !important;
}


body { background-color: rgb(35, 36, 38);}
h1 { color: white; }
h2 { color: white; }
h4 { color: white; }
p {	color: white; }

hr {
	color: white; 
	width: 70%;
	border: 1px solid lightslategray;
	margin: 40px auto;
	opacity: 70%;
}


.navbar { background: black; backface-visibility: hidden; opacity: 80% }
.navbar a {opacity: 100% !important;}

.top-wrapper { 
	text-align: center;
 }

.top-banner {
	padding: 60px 0 120px 0;
	height: 960px;
	width: 640px;
	background-image: url("../img/Ethan.jpg");
	background-repeat: no-repeat;
	display: inline-block;

	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
}

.top-banner .h1 { text-align: center; }

.videos {
	margin: 0 auto;
	text-align: center;
}

.course {
	background-color: rgb(35, 36, 38);
	color: lightslategray;
	width: 40%;
	margin: 0 auto;
	border: 1px solid lightslategray;
}